            <div class="menu-icon-wrap">
                <input type="checkbox" id="menu-icon">
                <label for="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <div class="side-menu">
                    <ul>
                        <li><a th:href="@{/main}">HOME</a></li>
                        <li><a th:href="@{/album}">ALBUM</a></li>
                        <li><a th:href="@{/news}">NEWS</a></li>
                        <li><a th:href="@{/notice}">NOTICE</a></li>
                        <li><a th:href="@{/letter}">FAN LETTER</a></li>
                        <li><a th:href="@{/chat}">SIMPLE CHAT</a></li>
                    </ul>
                </div>
            </div>